* {
    background-image: none;
}

window {
    background-color: rgba(38, 43, 48, 0.95);
}

button {
    color: #e8fdf5;
    background-color: #2e3c3b;
    border-style: solid;
    border-width: 2px;
    border-color: #3ddc97;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-radius: 8px;
}

button:focus,
button:active,
button:hover {
    background-color: #ffffff;
    border-color: #2ecc71;
    color: #1c1c1c;
    outline-style: none;
}

#lock {
    background-image: image(
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
    );
}

#logout {
    background-image: image(
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
    );
}

#suspend {
    background-image: image(
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
    );
}

#hibernate {
    background-image: image(
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
    );
}

#shutdown {
    background-image: image(
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
    );
}

#reboot {
    background-image: image(
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
    );
}
